/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.cdnfonts.com/css/adelle');

  body{
    background: white;
    font-size: 16px;
    padding: 0;
    height: 100vh;
    margin:0;
  }


  header{
    background-color: #ffffff;
    width:100%;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(179, 179, 179);
    border-radius: 10px;
    justify-content: center;
    position: fixed;
    display: flex;
    align-items: center;
    z-index:1;
  }

  header h1{
    flex:1;
    font-size: 32px;
    font-weight: 700;
    padding-top: 0.3em;
    padding-left: 1em;
    padding-bottom:0.51em;
    margin: 0;
  }
  
  nav{
    font-size: 14px;
    flex-direction: row;
    padding-right: 2em;
  }
  
  .heading_container{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    flex-direction: row;
  }
  
  .heading_container div{
    font-family: Raleway;
    padding-bottom: 5rem;
    border-top-width: 0.15rem;
    border-top-style: dotted;
    border-top-color: rgb(209, 209, 209);
    margin-right: 4em;
    padding-bottom: 3em;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-self: center;
  }

  footer{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 2em;
    align-self: center;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
    padding: 3em;
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    color: #333;
  }

  
  .element {
    font-family: Raleway;
    padding: 2em;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 2em;
    margin-left: 1em;
    border-top-width: 0.15rem;
    border-top-style: dotted;
    border-top-color: rgb(209, 209, 209);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-self: center;
    
  }
  
  .elements-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-right: 1em;
    font-family: Raleway;
    font-size: 16px;
  }
  
  .element-label{
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-top-width: 0.15rem;
    border-top-style: dotted;
    border-top-color: rgb(209, 209, 209);
    margin-right: 4em;
    padding-bottom: 3em;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-self: center;
  
  }
  
  .element-buttons{
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    vertical-align: middle;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-top-width: 0.15rem;
    border-top-style: dotted;
    border-top-color: rgb(209, 209, 209);
    margin-right: 4em;
    padding-bottom: 3em;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-self: center;
  
  }

  /* Taken from https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 35px;
}


.active, .collapsible:hover {
  background-color: #588534;
  color: white;
  border-radius: 35px;
}


.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
  
  ol {
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    padding: 1em;
  }

  ol li a{
    display: block;
  }
  
  /*
  https://www.w3schools.com/css/css_navbar_horizontal.asp
  Navigation bar reference*/
  
  ul {
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    list-style-type: none;
    border-radius: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  ul li a:hover {
    color:white;
    background-color: #588534;
  }
  
  h1{
    font-family: Raleway;
    font-size: 44px;
    color: #588534;
    margin-top: 0;
  }
  
  .h2-headings {
    font-family: Raleway;
    font-size: 35px;
    color: rgb(60, 60, 60);
    padding-top: 4em;
    margin-top: 0;
  }

  h2{
    font-family: Raleway;
    font-size: 35px;
    color: rgb(60, 60, 60);
    padding-top: 0;
  }
  
  h3 {
    font-family: Raleway;
    font-size: 28px;
    color:#145A30;
  }
  
  h4 {
    font-family: Raleway;
    font-size: 20px;
    margin-bottom: 2rem;
    color:#145A30;
  }
  
  p{
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    margin-top: 0;
    width: 70%;
    line-height: 2em;
    color: #333;
  }
  
  nav a:hover, nav a:focus {
    text-decoration: none;
  }
  
  code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
  }
  
  
  /* 
    INTERACTIVE ELEMENTS -------------------
  */
  
  /* Styling for the navigation button */
  .button-nav {
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    width: 40%;
    display: inline-block;
    padding: 0.9rem;
    color: #588534;
    background-color: white;
    text-decoration: none;
    border-radius: 25px; 
    transition-duration: 0.4s;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
  }
  
  .button-nav:hover, .button-nav:focus {
    color: white;
    background-color: #588534;
  }

  .checkout-cart img{
    border: none;
    border-radius: 0%;
    width: 40%;
    display: inline-block;
    padding: 0.9rem;
    color: #588534;
    background-color: white;
    text-decoration: none;
    border-radius: 20px; 
    transition-duration: 0.4s;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
  }
  .checkout-cart:hover img{
    color: white;
    background-color: #588534;
  }

  .image-link:hover{
    opacity: .6;
    transition: opacity .5s ease-out;
  }
  
  .image-link{
    width: 200px;
    height: 250px;
  }
  
  img{
    border: 2px solid rgb(179, 179, 179);
    border-radius: 25px;
  }
  
  .image-link:focus{
    display:inline-block;
    box-shadow: 2px 1px rgb(43, 121, 216);
    background-color: rgb(43, 121, 216);
  }
  
  input[type=text] {
    font-family: Raleway;
    padding: 10px;
    border:1px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  
  input[type=text]:hover {
    border-color:rgb(20, 211, 141);
  }
  
  input[type=text]:focus {
    border-color:#333;
  }
  
  input[type=submit] {
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    padding:10px 20px; 
    color: #588534;
    background: white; 
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
    border:0 none;
    cursor:pointer;
    border-radius: 20px; 
    transition-duration: 0.2s;
  }
  input[type=submit]:hover{
    color: white;
    background: #588534; 
  }
  
  input[type=reset] {
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    padding:10px 20px; 
    color: white;
    background: #E4B480; 
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
    border:0 none;
    cursor:pointer;
    border-radius: 20px; 
    transition-duration: 0.2s;
  }
  
  input[type=reset]:hover{
    background:#145A30; 
  }
  
  input[type="radio"]{
    margin: 20px 0px 30px 0px;
  }
  
  
  /* 
    TEXT ELEMENTS -------------------
  */
  .text-link{
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    color: #588534;
  }
  
  .text-link:hover{
    transition-duration: 0.2s;
    color: #E4B480;
  }
  
  .text-link:focus{
    color: #145A30;
  }
  
  /*Brand*/
  #main-block{
    padding-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: rgb(20, 211, 141); 
    border-radius: 8px;
    width: 100px;
    height: 100px;
  }
  
  #sub-block{
    padding-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: rgb(255, 104, 154); 
    border-radius: 8px;
    width: 100px;
    height: 100px;
  }
  
  #main-interactive-block{
    padding-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: rgb(0, 105, 67); ; 
    border-radius: 8px;
    width: 100px;
    height: 100px;
  }
  
  #main-interactive-block p{
    color: rgb(255, 255, 255);
  }
  
  #sub-interactive-block{
    padding-left: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    background-color: rgb(156, 35, 76); 
    border-radius: 8px;
    width: 100px;
    height: 100px;
  }
  
  #sub-interactive-block p{
    color: rgb(255, 255, 255);
  }
  
  
  .palette-box{
    display: flex;
    justify-content: start;
  }
  
  /* 
    COMBINED ELEMENTS -------------------
  */
  
  /*Style guide head sections */
  
  #interactive_elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: row;
    align-items: flex-start;
  }
  
  #text_elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: row;
    align-items: flex-start;
  }
  
  #combined-elements{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: row;
    align-items: flex-start;
  }

  #branding{
    font-family: Raleway;
    padding: 5em;
    padding-left: 15em;
    padding-right: 15em;
    border-top-width: 0.15rem;
    border-top-style: dotted;
    border-top-color: rgb(209, 209, 209);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-self: center;
  }

  /*Main Home Page*/
  .home{
    width: 100%;
  }
  .centered {
  position: absolute;
  top: 50%;
  left: 30%;
  color: white;
  transform: translate(-50%, -50%);
  }

  .centered h1 { 
  color: white;
  }
  .centered .button-nav{
    box-shadow: none;
  }

  /* Product Page */

  #product_page{
    padding-top: 10em;
    padding-left: 18em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #product_details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2em;
  }


  #product_description{
    font-style: normal;
    font-family: adelle, serif;
    font-weight: 100;
    font-size: 16px;
    margin-top: 0;
    width: 70%;
    line-height: 2em;
    color: #333;
    margin-bottom: 7em;
  }

  #price{
    font-style: italic;
    font-family: adelle, serif;
    font-weight: 100;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 2em;
    width: 70%;
    line-height: 2em;
    color: #333;
  }

  #product_details .button-nav{
    margin-left: 5em;
  }
  
  /*Product Listing*/

  .products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 1em;
    font-family: Raleway;
    font-size: 16px;
    margin-top: 3em;
    background-color: #ffffff;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
    border-radius: 3em;
    padding: 2em;
  }

  #filter-content{
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .item-box{
    margin-right: 4em;
    padding-bottom: 3em;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
  }
  
  /*Checkout Page*/
  
  #combined-elements-checkout{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 1em;
    font-family: Raleway;
    font-size: 16px;
  }
  
  #product-listing-elements{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-right: 1em;
    font-family: Raleway;
    font-size: 16px;
    padding-left: 10em;
    padding-top: 2em;
  }
  
  #product-listing-elements h3{
    margin-top: 3em;
    align-self:flex-start;
    flex-grow: 10;
  }
  
  #combined-elements-checkout h3{
    align-self: flex-start;
  }

  .element-checkout{
    background-color: #ffffff;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
    border-radius: 3em;
    margin-bottom: 3em;
    padding: 3em;
  }


  
  #payment-form label{
    margin-right: 1em;
  }

  #payment-form input[type=text]{
    margin-right: 2em;
    padding-right: 8em;
  }

  /* Small size */

@media screen and (min-width: 340px) and (max-width:1008px){
  body{
    background: white;
    font-size: 16px;
    padding: 2em;
    padding-right: 1em;
    padding-left: 1em;
  }

  header{
    display: flex;
    padding:1em;
    align-items: flex-start;
    height: 2em;
  }

  nav{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0.5em;
    padding-right: 0.5em;
  }

  h1{
    font-size: 2.5em;
    margin-right: 0.5em;
  }

  h2{
    font-size: 1.8em;
  }

  /* head sections */

  #interactive_elements{
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  #text_elements{
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  #combined-elements{
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  #branding{
    padding: 3em;
    padding-left: 3em;
    padding-right: 3em;
  }
}
