/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.cdnfonts.com/css/adelle');

  body{
    background: white;
    font-size: 16px;
    padding: 0;
    height: 100vh;
    margin:0;
    overflow-x: hidden;
  }


  header{
    background-color: #ffffff;
    width:100%;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(179, 179, 179);
    border-radius: 10px;
    justify-content: center;
    position: fixed;
    display: flex;
    align-items: center;
    z-index:1;
  }

  header h1{
    flex:1;
    font-size: 32px;
    font-weight: 700;
    padding-top: 0.3em;
    padding-left: 1em;
    padding-bottom:0.51em;
    margin: 0;
  }
  
  nav{
    font-size: 14px;
    flex-direction: row;
    padding-right: 2em;
  }
  
  .heading_container{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    flex-direction: row;
  }
  
  .heading_container div{
    font-family: Raleway;
    padding-bottom: 5rem;
    border-top-width: 0.15rem;
    border-top-style: dotted;
    border-top-color: rgb(209, 209, 209);
    margin-right: 4em;
    padding-bottom: 3em;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-self: center;
  }

  footer{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 2em;
    align-self: center;
    padding: 3em;
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    color: white;
    background-color: #145A30;
  }

  #footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width:60%;
  }

  #footer-content p{
    padding-top: 1em;
    font-size: 12px;
    color: white;
  }
  
  #footer-content a{
    color: white;
  }

  #footer-content a:hover{
    color: #E4B480;
  }


  

  
  .element {
    font-family: Raleway;
    padding: 2em;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 2em;
    margin-left: 1em;
    border-top-width: 0.15rem;
    border-top-style: dotted;
    border-top-color: rgb(209, 209, 209);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-self: center;
    
  }
  
  .elements-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-right: 1em;
    font-family: Raleway;
    font-size: 16px;
  }
  
  .element-label{
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-top-width: 0.15rem;
    border-top-style: dotted;
    border-top-color: rgb(209, 209, 209);
    margin-right: 4em;
    padding-bottom: 3em;
    padding-left: 5em;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-self: center;
  
  }
  
  .element-buttons{
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    vertical-align: middle;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-top-width: 0.15rem;
    border-top-style: dotted;
    border-top-color: rgb(209, 209, 209);
    margin-right: 4em;
    padding-bottom: 3em;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-self: center;
  
  }

  /* Taken from https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 35px;
}


.active, .collapsible:hover {
  background-color: #588534;
  color: white;
  border-radius: 35px;
}


.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
  
  ol {
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    padding: 1em;
  }

  ol li a{
    display: block;
  }
  
  /*
  https://www.w3schools.com/css/css_navbar_horizontal.asp
  Navigation bar reference*/
  
  ul {
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    list-style-type: none;
    border-radius: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  ul li a:hover {
    color:white;
    background-color: #588534;
  }
  
  h1{
    font-family: Raleway;
    font-size: 44px;
    color: #588534;
    margin-top: 0;
  }
  
  .h2-headings {
    font-family: Raleway;
    font-size: 35px;
    color: #145A30;
    padding-top: 3em;
    padding-left: 2.5em;
    margin-top: 0;
  }

  h2{
    font-family: Raleway;
    font-size: 35px;
    color: #145A30;
    padding-top: 0;
  }
  
  h3 {
    font-family: Raleway;
    font-size: 28px;
    color:#588534;
  }
  
  h4 {
    font-family: Raleway;
    font-size: 20px;
    margin-bottom: 2rem;
    color:#145A30;
  }
  
  p{
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    margin-top: 0;
    width: 70%;
    line-height: 2em;
    color: #333;
  }
  
  nav a:hover, nav a:focus {
    text-decoration: none;
  }
  
  code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
  }
  
  
  /* 
    INTERACTIVE ELEMENTS -------------------
  */
  
  /* Styling for the navigation button */
  .button-nav {
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    width: 40%;
    display: inline-block;
    padding: 0.9rem;
    color: #588534;
    background-color: white;
    text-decoration: none;
    border-radius: 25px; 
    transition-duration: 0.4s;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
  }
  
  .button-nav:hover, .button-nav:focus {
    color: white;
    background-color: #588534;
  }

  .checkout-cart{
    padding-right: 1em;
  }

  .checkout-cart img{
    border: none;
    border-radius: 0%;
    width: 40%;
    display: inline-block;
    padding: 0.9rem;
    color: #588534;
    background-color: white;
    text-decoration: none;
    border-radius: 20px; 
    transition-duration: 0.4s;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
  }
  .checkout-cart:hover img{
    color: white;
    background-color: #588534;
  }

  .image-link:hover{
    opacity: .6;
    transition: opacity .5s ease-out;
  }
  
  .image-link{
    width: 200px;
    height: 250px;
  }
  
  img{
    border: 2px solid rgb(234, 234, 234);
    border-radius: 25px;
  }
  
  .image-link:focus{
    display:inline-block;
    box-shadow: 2px 1px rgb(43, 121, 216);
    background-color: rgb(43, 121, 216);
  }
  
  input[type=text] {
    font-family: Raleway;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

  }

  #message{
    height:10em;
  }

  
  input[type=text]:hover {
    border-color:rgb(20, 211, 141);
  }
  
  input[type=text]:focus {
    border-color:#7fff8a;
  }
  
  input[type=submit] {
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    padding:10px 20px; 
    color: #588534;
    background: white; 
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
    border:0 none;
    cursor:pointer;
    border-radius: 20px; 
    transition-duration: 0.2s;
  }
  input[type=submit]:hover{
    color: white;
    background: #588534; 
  }
  
  input[type=reset] {
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    padding:10px 20px; 
    color: white;
    background: #E4B480; 
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
    border:0 none;
    cursor:pointer;
    border-radius: 20px; 
    transition-duration: 0.2s;
  }
  
  input[type=reset]:hover{
    background:#145A30; 
  }
  
  input[type="radio"]{
    margin: 10px 5px 15px 15px;
  }

  #payment-radio{
    padding-right: 3em;
  }
  
  
  /* 
    TEXT ELEMENTS -------------------
  */
  .text-link{
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    color: #588534;
  }
  
  .text-link:hover{
    transition-duration: 0.2s;
    color: #E4B480;
  }
  
  .text-link:focus{
    color: #145A30;
  }
  
  /*Brand*/
  #main-block{
    padding-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #145A30; 
    border-radius: 8px;
    width: 100px;
    height: 100px;
  }
  
  #sub-block{
    padding-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #588534; 
    border-radius: 8px;
    width: 100px;
    height: 100px;
  }
  
  #main-interactive-block{
    padding-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #E4B480; ; 
    border-radius: 8px;
    width: 100px;
    height: 100px;
  }
  
  #main-block p{
    color: rgb(255, 255, 255);
  }
  
  #sub-interactive-block{
    padding-left: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    background-color: #7fff8a; 
    border-radius: 8px;
    width: 100px;
    height: 100px;
  }
  
  #sub-block p{
    color: rgb(255, 255, 255);
  }
  
  
  .palette-box{
    display: flex;
    justify-content: start;
  }
  
  /* 
    COMBINED ELEMENTS -------------------
  */
  
  /*Style guide head sections */
  
  #interactive_elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: row;
    align-items: flex-start;
  }

  
  #text_elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: row;
    align-items: flex-start;
  }
  
  #combined-elements{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: row;
    align-items: flex-start;
  }

  #citations{
    padding-left: 5em;
    padding-bottom: 2em;
  }


  /*Main Home Page*/
  #banner-container{
    width: 100%;
    overflow: hidden;
    height: 90%;
  }

  .home{
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .centered {
  position: absolute;
  top: 50%;
  left: 30%;
  color: white;
  transform: translate(-50%, -50%);
  }

  .centered h1 { 
  color: white;
  }
  .centered .button-nav{
    box-shadow: none;
  }

  .element-home{
    font-family: Raleway;
    padding: 4em;
    padding: 2em;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 2em;
    margin-left: 1em;
    border-top-width: 0.15rem;
    border-top-style: dotted;
    border-top-color: rgb(209, 209, 209);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    align-self: center;
  }

  .element-contact{
    font-family: Raleway;
    width:50%;
  }

  #homepage-image{
    width: 50%;
    height: 19%;
  }

  /* Product Page */

  #product_page{
    padding-top: 8em;
    padding-left: 18em;
    padding-bottom: 5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  #product_page img{
    width: 30%;
    height: auto;
  }

  #product_details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }


  #product_description{
    font-style: normal;
    font-family: adelle, serif;
    font-weight: 100;
    font-size: 16px;
    margin-top: 0;
    width: 60%;
    line-height: 2em;
    color: #333;
    margin-bottom: 4em;
  }

  /* https://css-tricks.com/five-methods-for-five-star-ratings/ stars reference */

  :root {
    --star-size: 60px;
    --star-color: #989898;
    --star-background: #fc0;
 }
  .Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
 }
  .Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

  #price{
    font-style: italic;
    font-family: adelle, serif;
    font-weight: 100;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 2em;
    width: 70%;
    line-height: 2em;
    color: #333;
  }

  #product_details .button-nav{
    margin-top: 5em;
    margin-left: 5em;
  }
  
  /*Product Listing*/

  .products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 1.5em;
    font-family: Raleway;
    font-size: 16px;
    margin-top: 3em;
    background-color: #ffffff;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
    border-radius: 3em;
    padding-left: 1.5em;
  }

  #filters-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 1.5em;
    font-family: Raleway;
    font-size: 16px;
    margin-top: 3em;
    background-color: #ffffff;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
    border-radius: 3em;
    padding-left: 1.5em;
  }

  .filter-content{
    padding-right: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .item-box{
    margin-right: 4em;
    padding-bottom: 3em;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
  }
  
  /*Checkout Page*/
  
  #combined-elements-checkout{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    font-family: Raleway;
    font-size: 16px;
    margin-top: 2em;
  }
  
  #product-listing-elements{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-right: 1em;
    font-family: Raleway;
    font-size: 16px;
    padding-left: 10em;
    padding-top: 2em;
    padding-bottom: 1em;
  }
  
  #product-listing-elements h2{
    margin-top: 3em;
    align-self:flex-start;
    flex-grow: 10;
  }

  #product-listing{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-right: 1em;
    font-family: Raleway;
    font-size: 16px;
    padding-top: 2em;
    padding-bottom: 1em;
  }
  
  #combined-elements-checkout h3{
    align-self: flex-start;
  }

  .element-checkout{
    margin-right: 3em;
    background-color: #ffffff;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
    border-radius: 3em;
    margin-bottom: 1em;
    padding: 2em;
  }

  .element-checkout .button-nav{
    margin-top: 2em;
  }
  
  #payment-form label{
    margin-right: 1em;
  }

  #payment-form input[type=text]{
    margin-right: 2em;
    padding-right: 8em;
  }

  /* Small size */

  /* TODO: Fix the banner on homepage */

@media screen and (min-width: 280px) and (max-width:1008px){
  html{
    overflow-x: hidden;
  }
  body{
    background: white;
    font-size: 16px;
    overflow-x: hidden;
    position: relative;
  }

  /* Home page header & banner*/
  #banner-container{
    height: 70%;
    overflow-x: hidden;
  }

  ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 13px 25px;
    text-decoration: none;
    transition-duration: 0.2s;
  }

  header{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2em;
  }

  header h1{
    flex:2;
    font-size: 32px;
    font-weight: 700;
    padding-top: 0.6em;
    padding-left: 1em;
    padding-bottom:0em;
    margin: 0;
  }

  nav{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    margin-right: 0.5em;
    padding-right: 0.5em;
  }

  .checkout-cart{
    padding-left: 7em;
  }

  .checkout-cart img{
    border: none;
    border-radius: 0%;
    width: 40%;
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.9rem;
    color: #588534;
    background-color: white;
    text-decoration: none;
    border-radius: 20px; 
    transition-duration: 0.4s;
    box-shadow: 1.5px 2.5px 5px #D9D9D9;
  }

  ul li {
    float: left;
    margin-left: 2em;
  }

  #guide_nav{
    margin-left:0em;
  }

  .button-nav{
    width: 60%;
    margin-top:0;
  }

  /* Home Page Text */
  .home{
    padding-top: 6em;
    margin-top: 7em;
    width: 100%;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 40%;
    color: white;
    transform: translate(-50%, -50%);
    }

    .centered h1{
      font-size: 1.5em;
      width: 100%;
    }

  h1{
    font-size: 2.5em;
    margin-right: 0.5em;
  }

  h2{
    margin-top: 7em;
    font-size: 1.8em;
  }

  /* Home page content */

  #homepage-image{
    width: 80%;
    height: 49%;
  }

  .element-home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Raleway;
    padding: 2em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
    border-top-width: 0.15rem;
    border-top-style: dotted;
    border-top-color: rgb(209, 209, 209);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    align-self: center;
  }

  p{
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    margin-top: 0;
    width: 80%;
    line-height: 2em;
    color: #333;
  }

  /* Product listing */

  .elements-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-right: 0em;
    font-family: Raleway;
    font-size: 16px;
  }

  #product-listing-elements{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0em;
    font-family: Raleway;
    font-size: 16px;
    padding-left: 0em;
    padding-top: 2em;
    padding-bottom: 1em;
  }
  
  #product-listing-elements h2{
    padding-top: 5em;
    align-self:center;
    padding-right: 2em;
  }

  .products{
    padding-right: 0em;
    padding-left: 0em;
  }

  #filters-container{
    padding-right: 0em;
    padding-left: 0em;
  }

  #filters-container h4{
    align-self: center;
    margin-left: 5em;
    margin-right: 5em;
  }
  
  .item-box{
    margin-right: 0em;
  }

  /* Product details page */

  #product_page{
    padding-left: 0.5em;
  }

  #product_page img{
    width: 90%;
    margin-left: 0.5em;
    margin-top: 6em;
  }

  #price{
    padding-left: 1em;
  }

  #product_details h2{
    padding-left: 0.5em;
    margin-top: 0.5em;
  }

  #product_description{
    padding-left: 1em;
    width: 90%;
  }

  #product_details .button-nav{
    margin-left: 3em;
  }

  /* Checkout */

  input[type="radio"]{
    margin: 10px 5px 15px 10px;
  }

  #payment-radio{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 0;
  }

  /* Contact us page */

  .element-contact{
    font-family: Raleway;
    width:90%;
  }


  /* header sections */

  #interactive_elements{
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  #text_elements{
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  #combined-elements{
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  #branding{
    padding-left: 3em;
    padding-right: 3em;
  }

  #combined-elements-checkout{
    flex-direction: column;
  }
}
